# FastAPI & Server
fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20

# Database
sqlalchemy[asyncio]==2.0.49
asyncpg==0.30.0

# AI & Computer Vision
opencv-python-headless
ultralytics  # YOLOv11
deepface     # FaceNet & Recognition
tf-keras     # Dependency for DeepFace

# Utils
pydantic-settings==2.7.1
structlog==24.4.0
redis==5.2.1
